{% extends 'base.html' %}
{% block content %}
<main>
<article> 
    <section class="description">
        <h3>♪ ： 他のCDに入っていない曲</h3>
        <h3>★ ： 特典映像</h3>
        <h3>Ｓ ： SINGLE曲</h3>

    </section>
    <section class="CD_category">
        <h1>ALBUM</h1>  
    </section>

    <section id="album1">
        <div class="CD_title">
            <h1>1st:　King & Prince</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    Ｓ シンデレラガール<br>
                    　 Sha-la-laハジけるLove<br>
                    Ｓ 君を待ってる<br>
                    　 Naughty Girl<br>
                    　 Can't Stop Now<br>
                    　 マホロバ<br>
                    　 別々の空<br>
                    　 Moon Lover<br>
                    　 FEEL LIKE GOLD<br>
                    　 Big Bang<br>
                    　 Dance with me<br>
                    　 Super Duper Crazy<br>
                    Ｓ Memorial<br>
                    　 Letter<br>
                    　 Song for you 〜君を信じて〜<br>
                    　 君に ありがとう<br>
                    ♪ King & Prince, Queen & Princess<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    Ｓ シンデレラガール<br>
                    　 Sha-la-laハジけるLove<br>
                    Ｓ 君を待ってる<br>
                    　 Naughty Girl<br>
                    　 Can't Stop Now<br>
                    　 マホロバ<br>
                    　 別々の空<br>
                    　 Moon Lover<br>
                    　 FEEL LIKE GOLD<br>
                    　 Big Bang<br>
                    　 Dance with me<br>
                    　 Super Duper Crazy<br>
                    Ｓ Memorial<br>
                    　 Letter<br>
                    　 Song for you 〜君を信じて〜<br>
                    　 君に ありがとう<br><br>
                    ★ 「Naughty Girl」Music Video<br>
                    ★ 「Naughty Girl」Music Video & ジャケット撮影 メイキング<br>
                    ★ 「Naughty Girl」Music Video メンバーソロver.<br>
                    ★ 「Naughty Girl」Music Video ダンスver.<br>
                    ★ 「King & Princeプレミアムトーク」~メンバーがデビューから未来の展望まで本音で語る! ! ~<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    Ｓ シンデレラガール<br>
                    　 Sha-la-laハジけるLove<br>
                    Ｓ 君を待ってる<br>
                    　 Naughty Girl<br>
                    　 Can't Stop Now<br>
                    　 マホロバ<br>
                    　 別々の空<br>
                    　 Moon Lover<br>
                    　 FEEL LIKE GOLD<br>
                    　 Big Bang<br>
                    　 Dance with me<br>
                    　 Super Duper Crazy<br>
                    Ｓ Memorial<br>
                    　 Letter<br>
                    　 Song for you 〜君を信じて〜<br>
                    　 君に ありがとう<br>
                    ♪ サマー・ステーション<br>
                    ♪ Hello!!!ハルイロ<br>
                    ♪ 勝つんだWIN!<br>
                    ♪ MIXTURE<br>
                    ♪ Bounce To Night<br>
                    ♪ OH! サマー KING<br>
                    ♪ Alright<br>
                    ♪ THE DREAM BOYS<br>
                    ♪ Prince Princess<br>
                    ♪ You are my Princess<br>
                    ♪ 描いた未来~たどり着くまで~<br>
                </p>
            </div>
        </div>
    </section>

    <section id="album2">
        <div class="CD_title">
            <h1>2nd:　L&</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                　 Key of Heart<br>
                　 &LOVE<br>
                　 Break Away<br>
                Ｓ Mazy Night<br>
                　 ナミウテココロ<br>
                　 泡の影<br>
                　 ORESEN<br>
                　 生活(仮)<br>
                　 Laugh &...<br>
                　 No Limit Tonight<br>
                　 Focus<br>
                　 Amazing Romance<br>
                Ｓ koi-wazurai<br>
                　 Freak out<br>
                　 Heart & Beat<br>
                　 君がいる世界<br>
                ♪ Bounce<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Key of Heart<br>
                    　 &LOVE<br>
                    　 Break Away<br>
                    Ｓ Mazy Night<br>
                    　 ナミウテココロ<br>
                    　 泡の影<br>
                    　 ORESEN<br>
                    　 生活(仮)<br>
                    　 Laugh &...<br>
                    　 No Limit Tonight<br>
                    　 Focus<br>
                    　 Amazing Romance<br>
                    　 koi-wazurai<br>
                    Ｓ Freak out<br>
                    　 Heart & Beat<br>
                    　 君がいる世界<br><br>
                    ★ ｢＆LOVE｣Music Video<br>
                    ★ ｢＆LOVE｣Music Video Making<br>
                    ★ ｢＆LOVE｣usic Video ダンスVer.<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Key of Heart<br>
                    　 &LOVE<br>
                    　 Break Away<br>
                    Ｓ Mazy Night<br>
                    　 ナミウテココロ<br>
                    　 泡の影<br>
                    　 ORESEN<br>
                    　 生活(仮)<br>
                    　 Laugh &...<br>
                    　 No Limit Tonight<br>
                    　 Focus<br>
                    　 Amazing Romance<br>
                    Ｓ koi-wazurai<br>
                    　 Freak out<br>
                    　 Heart & Beat<br>
                    　 君がいる世界<br><br>
                    ★ ｢The Documentary - King & Prince in America-｣
                </p>
            </div>
        </div>
    </section>

    <section id="album3">
        <div class="CD_title">
            <h1>3rd:　Re:sense</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                　 僕らのGreat Journey<br>
                　 ユメラブ(You, Me, Love)<br>
                　 BUBBLES ＆ TROUBLES<br>
                Ｓ Magic Touch<br>
                　 Lost in Love<br>
                　 サマーデイズ<br>
                　 幸せがよく似合うひと<br>
                Ｓ Beating Hearts<br>
                　 Koiは優しくない<br>
                　 フィジャディバ グラビボ ブラジポテト！<br>
                　 ツッパリ魂<br>
                　 Body Paint<br>
                　 Dance to the music<br>
                Ｓ I promise<br>
                　 花束<br>
                　 Namae Oshiete<br>
                ♪ Dear My Tiara<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 僕らのGreat Journey<br>
                    　 ユメラブ(You, Me, Love)<br>
                    　 BUBBLES ＆ TROUBLES<br>
                    Ｓ Magic Touch<br>
                    　 Lost in Love<br>
                    　 サマーデイズ<br>
                    　 幸せがよく似合うひと<br>
                    Ｓ Beating Hearts<br>
                    　 Koiは優しくない<br>
                    　 フィジャディバ グラビボ ブラジポテト！<br>
                    　 ツッパリ魂<br>
                    　 Body Paint<br>
                    　 Dance to the music<br>
                    Ｓ I promise<br>
                    　 花束<br>
                    　 Namae Oshiete<br><br>
                    ★ ｢僕らのGreat Journey｣Music Video<br>
                    ★ ｢僕らのGreat Journey｣Music Video Making<br>
                    ★ ｢僕らのGreat Journey｣Music Video 番外編～白熱！ King & Prince ゴーカート対決！～<br>
                    ★ Making of『Re:Sense』<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 僕らのGreat Journey<br>
                    　 ユメラブ(You, Me, Love)<br>
                    　 BUBBLES ＆ TROUBLES<br>
                    Ｓ Magic Touch<br>
                    　 Lost in Love<br>
                    　 サマーデイズ<br>
                    　 幸せがよく似合うひと<br>
                    Ｓ Beating Hearts<br>
                    　 Koiは優しくない<br>
                    　 フィジャディバ グラビボ ブラジポテト！<br>
                    　 ツッパリ魂<br>
                    　 Body Paint<br>
                    　 Dance to the music<br>
                    Ｓ I promise<br>
                    　 花束<br>
                    　 Namae Oshiete<br><br>
                    ★ ｢Namae Oshiete｣Music Video<br> 
                    ★ ｢Namae Oshiete｣Music Video -Dance ver.-<br>
                    ★ ｢Namae Oshiete｣Music Video Making<br>
                    ★ ｢Namae Oshiete｣レコーディングドキュメンタリー in LA<br>
                </p>
            </div>
        </div>
    </section>

     </article>
</main>
    {% endblock %}