<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	<meta name="keywords" content="KP_music">
	<meta name="description" content="KP_music_List">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="../seedling-solid.svg">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/stylesheet_sp.css">
    <title>Music list of King and Prince </title>
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-ZF7EK5T707');
    </script>
 
</head>

<body>
    <header>
        <ul class= "open jp">
            <li><a href="/">SINGLE</a></li>
            <li><a href="/album">ALBUM</a></li>
            <li><a href="/dvd">DVD</a></li>
            <li><a href="/serch_music">SERCH</a></li>
        </ul>
    </header>
    <section id="sec1">
        <h1>King and Prince</h1>
        <h4>曲が入ってるCDを確認できるサイト</h4>
    </section>
    
    {% block content %}
    {% endblock %}

    <footer>
        <p class="copyright"> </p>
    </footer>
</body>

</html>