{% extends 'base.html' %}
{% block content %}

<title>Music list of King and Prince DVD</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZF7EK5T707');
</script>

<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/CSS/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/CSS/stylesheet_sp.css">
<main>
<article> 
    <section class="description">
        <h3>★ ： 特典映像</h3>
        <h3>通 ： 通常盤　　ABKP：初版限定盤</h3>
        <br>
        <h3>Jump to:</h3>
        <div class="jumpto">
        <a href="#dvd1">[1st] First Concert tour 2018　</a><br>
        <a href="#dvd2">[2nd] CONCERT TOUR 2019　</a><br>
        <a href="#dvd3">[3rd] CONCERT TOUR 2020～Ｌ＆～　</a><br>
        <a href="#dvd4">[4th] CONCERT TOUR 2021～Re:Sense～　</a><br>
        <a href="#dvd5">[5th] First DOME CONCERT TOUR 2021～Mr.～　</a><br>
        <a href="#dvd6">[6th] ARENA TOUR 2022 ～Made in～　</a><br>
        <a href="#dvdcount">曲別　ライブ登場回数　</a><br>
        </div> 
    </section>
    <section class="CD_category"> 
        <h1>DVD</h1>  
    </section>

    <section id="dvd1">
        <br>
        <div class="CD_title">
            <h1>1st:　King & Prince First Concert tour 2018</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge2">
                <h2>通常版</h2>
                <p>
                    ・特典映像<br>
                    　★ ｢Memorial｣LIVE初披露映像＆ツアー終了直後のメンバーソロコメント<br><br>
                    ・ライブ本編
                </p>
                    <table border="1">
                        <tr><td>曲名</td>
                            <td colspan="3">収録CD</td>
                        </tr>
                         <tr><th rowspan="2">シンデレラガール</th>
                            <td class="media_no">1st Single</td><td class="media_name">シンデレラガール</td><td>通/A/B/K/P</td>
                        </tr>
                        <tr>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>通/A/B</td>
                        </tr>
                        <tr><th>YOU, WANTED!</th>
                            <td class="media_no">1st Single</td><td class="media_name">シンデレラガール</td><td>通</td>
                        </tr>
                        <tr><th>Funk it up</th>
                            <td class="media_no">1st Single</td><td class="media_name">シンデレラガール</td><td>通/A/B/K/P</td>
                        </tr>
                        <tr><th>We are King & Prince!</th>
                            <th colspan="3"> </th>
                        </tr>
                        <tr><th>サマー・ステーション</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>Ho!サマー</th>
                            <td colspan="3" class="other">タッキー&翼</td>
                        </tr>
                        <tr><th>SUMMER NUDE '13</th>
                            <td colspan="3" class="other">山下智久</td>
                
                        </tr>
                        <tr><th>Sexy Summerに雪が降る</th>
                            <td colspan="3" class="other">SexyZone</td>
                        </tr>
                        <tr><th>MIXTURE</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>勝つんだWIN!</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>Keep the Faith</th>
                            <td colspan="3" class="other">SexyZone</td>
                        </tr>
                        <tr><th>君が思い出す僕は 君を愛しているだろうか</th>
                            <td colspan="3" class="other">V6</td>
                        </tr>
                        <tr><th>やっちゃった!!</th>
                            <td colspan="3" class="other">舞祭組</td>
                        </tr>
                        <tr><th>夜空ノムコウ</th>
                            <td colspan="3" class="other">SMAP</td>
                        </tr>
                        <tr><th>OH! サマー KING</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>THE DREAM BOYS</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>You are my Princess</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>ゴールデンアワー</th>
                            <td class="media_no">5th Single</td><td class="media_name">Mazy Night</td><td>通</td>
                        </tr>
                        <tr><th>SHAKE</th>
                            <td colspan="3" class="other">SMAP</td>
                        </tr>
                        <tr><th>weeeek</th>
                            <td colspan="3" class="other">NEWS</td>
                        </tr>
                        <tr><th>Hello!!!ハルイロ</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>シンデレラガール</th><th colspan="3">同上</th></tr>
                        <tr><th>Misbehave</th><th colspan="3"> </th></tr>
                        <tr><th>秋空</th><th colspan="3"> </th></tr>
                        <tr><th>Glass Flower</th>
                            <td class="media_no">2nd Single</td><td class="media_name">Memorial</td><td>通</td>
                        </tr>
                        <tr><th>愛のすべて</th>
                            <td class="media_no">2nd Single</td><td class="media_name">Memorial</td><td>通</td>
                        </tr>
                        <tr><th>Alright</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>描いた未来～たどり着くまで～</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>Prince Princess</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                        <tr><th>Wake me up</th>
                            <td class="media_no">3rd Single</td><td class="media_name">君を待ってる</td><td>通</td>
                        </tr>
                        <tr><th>Bounce To Night</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>       
                        </tr>
                        <tr><th>BANGIN!!</th>
                            <td class="media_no">9th Single</td><td class="media_name">Lovin' you/踊るように人生を。</td><td>通</td>
                        </tr>
                        <tr><th>シンデレラガール</th><th colspan="3">同上</th></tr>
                        <tr><th>King & Prince, Queen & Princess</th>
                            <td class="media_no">1st Album</td><td class="media_name">King & Prince</td><td>B</td>
                        </tr>
                    </table>
            </div>
            <div class="lenge3">
                <h2> </h2>                
            </div>

            <div class="lenge2">
                <h2>初版限定盤</h2>
                <p>
                ・特典映像<br>
                　 ★ The Road To First Concert Document<br>
                　 ★ DAY1 LIVEダイジェスト@横浜アリーナ 2018.8.10<br> 
                ・ライブ本編（通常盤と同一）<br>
                </p>
            </div>
        </div>
    </section>

    <section id="dvd2">
        <br>
        <div class="CD_title">
            <h1>2nd:　King & Prince CONCERT TOUR 2019</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge2">
                <h2>　通常版</h2>
                <p>
                    ・特典映像<br>
                    　★ ｢koi-wazurai｣｢シンデレラガール｣ソロアングルライブ映像<br><br>  
                    ・ライブ本編
                </p>                
                    <table border="1">
                        <tr><td>曲名</td>
                            <td colspan="3">収録CD</td>
                        </tr>
                        <tr class="current"><th rowspan="2">君を待ってる</th><td class="media_no">3rdSingle</td><td class="media_name">君を待ってる</td><td>通/A/B</td></tr>
                        <tr class="current"><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>High On Love!</th><td class="media_no">2ndSingle</td><td class="media_name">Memorial</td><td>通/A/B</td></tr>
                        <tr><th>Lover's Delight</th><td class="media_no">2ndSingle</td><td class="media_name">Memorial</td><td>A</td></tr>
                        <tr class="current"><th>Dance with me</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>Sha-la-laハジけるLove</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Bounce To Night</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr class="current"><th>Moon Lover</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Lover's Delight</th><td class="media_no">2ndSingle</td><td class="media_name">Memorial</td><td>A</td></tr>
                        <tr class="current"><th>Big Bang</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>Letter</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Glass Flower</th><td class="media_no">2ndSingle</td><td class="media_name">Memorial</td><td>通</td></tr>
                        <tr><th>描いた未来～たどり着くまで～</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>Prince Princess</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>Hello!!!ハルイロ</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>サマー・ステーション</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th rowspan="2">koi-wazurai</th><td class="media_no">4thSingle</td><td class="media_name">koi-wazurai</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr class="current"><th>別々の空</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>君に ありがとう</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>マホロバ</th><td>1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>THE DREAM BOYS</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>OH! サマー KING</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>Funk it up</th><td class="media_no">1stSingle</td><td class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr class="current"><th rowspan="2">Memorial</th><td class="media_no">2ndSingle</td><td class="media_name">Memorial</td><td>通/A/B</td></tr>
                        <tr class="current"><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>Naughty Girl</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Spark and Spark</th><td class="media_no">3rdSingle</td><td class="media_name">君を待ってる</td><td>B</td></tr>
                        <tr class="current"><th>FEEL LIKE GOLD</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>Super Duper Crazy</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Oh My Girl</th><td class="media_no">4thSingle</td><td class="media_name">koi-wazurai</td><td>通</td></tr>
                        <tr class="current"><th>King & Prince, Queen & Princess</th><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通</td></tr>
                        <tr class="current"><th rowspan="2">シンデレラガール</th><td class="media_no">1stSingle</td><td class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr class="current"><td class="media_no">1stAlbum</td><td class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>風に乗れ</th><td class="media_no">3rdSingle</td><td class="media_name">君を待ってる</td><td>通/A/B</td></tr>
                        <tr><th>ゴールデンアワー</th><td class="media_no">5thSingle</td><td class="media_name">Mazy Night</td><td>通</td></tr>
                        <tr><th rowspan="2">koi-wazurai</th><td class="media_no">4thSingle</td><td class="media_name">koi-wazurai</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td class="media_name">L&</td><td>通/A/B</td></tr>
                    </table>
                </div>
            <div class="lenge3">
                <h2> </h2>                
            </div>

            <div class="lenge2">
                <h2>　初版限定盤</h2>
                <p>
                    ・特典映像<br>
                        　★ King & Prince CONCERT TOUR Document<br>
                        　★ King & Prince CONCERT TOUR ヴィジュアル･コメンタリー<br>
                    ・ライブ本編（通常盤と同一）<br> 
                    </p>
            </div>
        </div>
    </section>
 
    <section id="dvd3">
        <br>
        <div class="CD_title">
            <h1>3rd:　King & Prince CONCERT TOUR 2020～Ｌ＆～</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge2">
                <h2>　通常版</h2>
                <p>
                    ・特典映像<br>
                    　★ ｢Freak out｣ソロアングル映像<br>
                    　★ ｢Bounce｣ダンスショット映像<br>  
                    ・ライブ本編
                </p>                
                    <table border="1">
                        <tr><td>曲名</td>
                            <td colspan="3">収録CD</td>
                        </tr>
                        <tr><th>ゴールデンアワー</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通</td></tr>
                        <tr><th>Love Paradox</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>A</td></tr>
                        <tr><th rowspan="2">シンデレラガール</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>We are King & Prince!</th><td colspan="3"></td></tr>
                        <tr><th>Super Duper Crazy</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr class="current"><th>&LOVE</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Break Away</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>Naughty Girl</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通常版/A/B</td></tr>
                        <tr><th>Funk it up</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr class="current"><th>生活(仮)</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Amazing Romance</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Key of Heart</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th rowspan="2">koi-wazurai</th><td class="media_no">4thSingle</td><td  class="media_name">koi-wazurai</td><td>通常版/A/B</td></tr>
                        <tr class="current"><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>今君に伝えたいこと</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>B</td></tr>
                        <tr class="current"><th>Bounce</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通</td></tr>
                        <tr class="current"><th>ナミウテココロ</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Freak out</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>※コント</th><td colspan="3"></td></tr>
                        <tr class="current"><th>ORESEN</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>Full Time Lover</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通</td></tr>
                        <tr><th>宙(SORA)</th><td class="media_no">3rdSingle</td><td  class="media_name">君を待ってる</td><td>A</td></tr>
                        <tr class="current"><th>No Limit Tonight</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>YOU, WANTED!</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通</td></tr>
                        <tr><th>FEEL LIKE GOLD</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th rowspan="2">Mazy Night</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通常版/A/B</td></tr>
                        <tr class="current"><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Focus</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>Laugh &...</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr class="current"><th>君がいる世界</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通常版/A/B</td></tr>
                        <tr><th>King & Prince, Queen & Princess</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通</td></tr>
                    </table>
                </div>
            <div class="lenge3">
                <h2> </h2>                
            </div>

            <div class="lenge2">
                <h2>　初版限定盤</h2>
                <p>
                    ・特典映像<br>
                        　★ ･King & Prince CONCERT TOUR 2020 ～L＆～ After Party<br><br>
                    ・ライブ本編（通常盤と同一）<br> 
                    </p>
            </div>
        </div>
    </section>

    <section id="dvd4">
        <br>
        <div class="CD_title">
            <h1>4th:　King & Prince CONCERT TOUR 2021～Re:Sense～</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge2">
                <h2>　通常版</h2>
                <p>
                    ・特典映像<br>
                    　★ ･Documentary of King & Prince CONCERT TOUR 2021 ～Re:Sense～<br><br><br>
                    ・ライブ本編
                </p>                
                    <table border="1">
                        <tr><td>曲名</td>
                            <td colspan="3">収録CD</td>
                        </tr>
                        <tr><th rowspan="2">koi-wazurai</th><td class="media_no">4thSingle</td><td  class="media_name">koi-wazurai</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Heart & Beat</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>High On Love!</th><td class="media_no">2ndSingle</td><td  class="media_name">Memorial</td><td>通/A/B</td></tr>
                        <tr><th>Namae Oshiete</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>ナミウテココロ</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Naughty Girl</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Dance to the music</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">Beating Hearts</th><td class="media_no">7thSingle</td><td  class="media_name">Magic Touch/Beating Hearts</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Dance with me</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>&LOVE</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Amazing Romance</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>サマーデイズ</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>恋降る月夜に君想ふ</th><td class="media_no">8thSingle</td><td  class="media_name">恋降る月夜に君想ふ</td><td>通/A/B</td></tr>
                        <tr><th>Lost in Love</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">I promise</th><td class="media_no">6thSingle</td><td  class="media_name">I promise</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Body Paint</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>BUBBLES & TROUBLES</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>ツッパリ魂</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>フィジャディバ グラビボ ブラジポテト!</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">Mazy Night</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">Magic Touch</th><td class="media_no">7thSingle</td><td  class="media_name">Magic Touch/Beating Hearts</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>今君に伝えたいこと</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>B</td></tr>
                        <tr><th rowspan="2">Memorial</th><td class="media_no">2ndSingle</td><td  class="media_name">Memorial</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>僕らのGreat Journey</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Love Paradox</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>A</td></tr>
                        <tr><th>Super Duper Crazy</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Oh My Girl</th><td class="media_no">4thSingle</td><td  class="media_name">koi-wazurai</td><td>通</td></tr>
                        <tr><th rowspan="2">シンデレラガール</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Dear My Tiara</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通</td></tr>
                        <tr><th>幸せがよく似合うひと</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>ゴールデンアワー</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通</td></tr> 
 
                    </table>
                </div>
            <div class="lenge3">
                <h2> </h2>                
            </div>

            <div class="lenge2">
                <h2>　初版限定盤</h2>
                <p>
                    ・特典映像<br>
                        　★ The Beginning of Re:Sense<br>
                        　★ ｢Body Paint｣ダンスショット映像<br>
                        　★ ｢Namae Oshiete｣ソロアングル映像<br>
                        ・ライブ本編（通常盤と同一）<br> 
                    </p>
            </div>
        </div>
    </section>

    <section id="dvd5">
        <br>
        <div class="CD_title">
            <h1>ライブセトリ:　King & Prince First DOME CONCERT TOUR 2021～Mr.～</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge2">
                    <table border="1">
                        <tr><td>曲名</td>
                            <td colspan="3">収録CD</td>
                        </tr>
                        <tr><th>恋降る月夜に君想ふ</th><td class="media_no">8thSingle</td><td  class="media_name">恋降る月夜に君想ふ</td><td>通/A/B</td></tr>
                        <tr><th>Love Paradox</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>A</td></tr>
                        <tr><th rowspan="2">koi-wazurai</th><td class="media_no">4thSingle</td><td  class="media_name">koi-wazurai</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Super Duper Crazy</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Spark and Spark</th><td class="media_no">3rdSingle</td><td  class="media_name">君を待ってる</td><td>B</td></tr>
                        <tr><th>Freak out</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>踊るように人生を。</th><td class="media_no">9thSingle</td><td  class="media_name">Lovin' you/踊るように人生を。</td><td>通/A/B</td></tr>
                        <tr><th>Funk it up</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr><th rowspan="2">Beating Hearts</th><td class="media_no">7thSingle</td><td  class="media_name">Magic Touch/Beating Hearts</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Moon Lover</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>Bounce To Night</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>Hello!!!ハルイロ</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>OH! サマー KING</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>Prince Princess</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>サマー・ステーション</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th>THE DREAM BOYS</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>B</td></tr>
                        <tr><th rowspan="2">Memorial</th><td class="media_no">2ndSingle</td><td  class="media_name">Memorial</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th>&LOVE</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Koiは優しくない</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Amazing Romance</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>Kiss ＆ Cry</th><td class="media_no">8thSingle</td><td  class="media_name">恋降る月夜に君想ふ</td><td>通</td></tr>
                        <tr><th>Bounce</th><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通</td></tr>
                        <tr><th>Lovin' you</th><td class="media_no">9thSingle</td><td  class="media_name">Lovin' you/踊るように人生を。</td><td>通/A/B</td></tr>
                        <tr><th>フィジャディバ グラビボ ブラジポテト!</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">シンデレラガール</th><td class="media_no">1stSingle</td><td  class="media_name">シンデレラガール</td><td>通/A/B/K/P</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">I promise</th><td class="media_no">6thSingle</td><td  class="media_name">I promise</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">Mazy Night</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">2ndAlbum</td><td  class="media_name">L&</td><td>通/A/B</td></tr>
                        <tr><th>BUBBLES & TROUBLES</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>僕らのGreat Journey</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">君を待ってる</th><td class="media_no">3rdSingle</td><td  class="media_name">君を待ってる</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通/A/B</td></tr>
                        <tr><th rowspan="2">Magic Touch</th><td class="media_no">7thSingle</td><td  class="media_name">Magic Touch/Beating Hearts</td><td>通/A/B</td></tr>
                        <tr><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>Namae Oshiete</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>NANANA</th><td class="media_no">8thSingle</td><td  class="media_name">恋降る月夜に君想ふ</td><td>通/A/B</td></tr>
                        <tr><th>King & Prince, Queen & Princess</th><td class="media_no">1stAlbum</td><td  class="media_name">King & Prince</td><td>通</td></tr>
                        <tr><th>Oh My Girl</th><td class="media_no">4thSingle</td><td  class="media_name">koi-wazurai</td><td>通</td></tr>
                        <tr><th>幸せがよく似合うひと</th><td class="media_no">3rdAlbum</td><td  class="media_name">Re:Sense</td><td>通/A/B</td></tr>
                        <tr><th>ゴールデンアワー</th><td class="media_no">5thSingle</td><td  class="media_name">Mazy Night</td><td>通</td></tr> 
                    </table>
            </div>
        </div> 
    </section>

    <section id="dvdcount">
        <br>
        <div class="CD_title">
            <h1>曲別　ライブ登場回数</h1>
        </div>
        <div class="box flex_area">
            <table border="1">
                <tr><th>曲名</th><td>回数</td><td>2018</td><td>2019</td><td>2020</td><td>2021</td><td>2022 Dome</td></tr>
                <tr><th>シンデレラガール</th><td>5</td><td>〇</td><td>〇</td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>ゴールデンアワー</th><td>5</td><td>〇</td><td>〇</td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>Funk it up</th><td>4</td><td>〇</td><td>〇</td><td>〇</td><td></td><td>〇</td></tr>
                <tr><th>King & Prince, Queen & Princess</th><td>4</td><td>〇</td><td>〇</td><td>〇</td><td></td><td>〇</td></tr>
                <tr><th>Oh My Girl</th><td>4</td><td>〇</td><td>〇</td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>Super Duper Crazy</th><td>4</td><td></td><td>〇</td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>koi-wazurai</th><td>4</td><td></td><td>〇</td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>High On Love!</th><td>3</td><td>〇</td><td>〇</td><td></td><td>〇</td><td></td></tr>
                <tr><th>サマー・ステーション</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Hello!!!ハルイロ</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Bounce To Night</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>OH! サマー KING</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>THE DREAM BOYS</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Prince Princess</th><td>3</td><td>〇</td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Naughty Girl</th><td>3</td><td></td><td>〇</td><td>〇</td><td>〇</td><td></td></tr>
                <tr><th>Memorial</th><td>3</td><td></td><td>〇</td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>Mazy Night</th><td>3</td><td></td><td></td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>Love Paradox</th><td>3</td><td></td><td></td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>＆LOVE</th><td>3</td><td></td><td></td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>Amazing Romance</th><td>3</td><td></td><td></td><td>〇</td><td>〇</td><td>〇</td></tr>
                <tr><th>Glass Flower</th><td>2</td><td>〇</td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>描いた未来～たどり着くまで～</th><td>2</td><td>〇</td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>YOU, WANTED!</th><td>2</td><td>〇</td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>FEEL LIKE GOLD</th><td>2</td><td></td><td>〇</td><td>〇</td><td></td><td></td></tr>
                <tr><th>Dance with me</th><td>2</td><td></td><td>〇</td><td></td><td>〇</td><td></td></tr>
                <tr><th>君を待ってる</th><td>2</td><td></td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Spark and Spark</th><td>2</td><td></td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>Moon Lover</th><td>2</td><td></td><td>〇</td><td></td><td></td><td>〇</td></tr>
                <tr><th>今君に伝えたいこと</th><td>2</td><td></td><td></td><td>〇</td><td>〇</td><td></td></tr>
                <tr><th>ナミウテココロ</th><td>2</td><td></td><td></td><td>〇</td><td>〇</td><td></td></tr>
                <tr><th>Freak out</th><td>2</td><td></td><td></td><td>〇</td><td></td><td>〇</td></tr>
                <tr><th>Bounce</th><td>2</td><td></td><td></td><td>〇</td><td></td><td>〇</td></tr>
                <tr><th>I promise</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>Magic Touch</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>Beating Hearts</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>僕らのGreat Journey</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>BUBBLES ＆ TROUBLES</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>幸せがよく似合うひと</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>フィジャディバ グラビボ ブラジポテト！</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>Namae Oshiete</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>恋降る月夜に君想ふ</th><td>2</td><td></td><td></td><td></td><td>〇</td><td>〇</td></tr>
                <tr><th>愛のすべて</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Wake me up</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>勝つんだWIN!</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>MIXTURE</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Alright</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>You are my Princess</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>BANGIN!!</th><td>1</td><td>〇</td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Lover's Delight</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>風に乗れ</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>Sha-la-laハジけるLove</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>マホロバ</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>別々の空</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>Big Bang</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>Letter</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>君に ありがとう</th><td>1</td><td></td><td>〇</td><td></td><td></td><td></td></tr>
                <tr><th>宙(SORA)</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Full Time Lover</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Key of Heart</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Break Away</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>ORESEN</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>生活(仮)</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Laugh &...</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>No Limit Tonight</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Focus</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>君がいる世界</th><td>1</td><td></td><td></td><td>〇</td><td></td><td></td></tr>
                <tr><th>Heart & Beat</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>Lost in Love</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>サマーデイズ</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>ツッパリ魂</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>Body Paint</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>Dance to the music</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>Dear My Tiara</th><td>1</td><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th>Koiは優しくない</th><td>1</td><td></td><td></td><td></td><td></td><td>〇</td></tr>
                <tr><th>Kiss ＆ Cry</th><td>1</td><td></td><td></td><td></td><td></td><td>〇</td></tr>
                <tr><th>NANANA</th><td>1</td><td></td><td></td><td></td><td></td><td>〇</td></tr>
                <tr><th>Lovin' you</th><td>1</td><td></td><td></td><td></td><td></td><td>〇</td></tr>
                <tr><th>踊るように人生を。</th><td>1</td><td></td><td></td><td></td><td></td><td>〇</td></tr>
                <tr><th>BEATMAKER</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>グッとGood Life</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Can't Stop Now</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Song for you 〜君を信じて〜</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>君は、綺麗だ。</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>STEAL YOUR NIGHT</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Smiling Forever</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>泡の影</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Winter Love Story</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Glad to see you</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Little Christmas</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Happy Holy Night</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>雨音</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Seasons of Love</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>ユメラブ(You, Me, Love)</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>花束</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>You are my hero</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Easy Go</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>泣き笑い</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>54321</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>My Sweeties</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Endroll</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>ichiban</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Last Train</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>My Fair Lady</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>僕の好きな人</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>バトル･オブ･バトラー！</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Sunshine Days</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Started</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Let it out</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Doll</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>桜Season -restart-</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>気楽にやろうよ</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>A Little Happiness</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>Dream in</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th>RING DING DONG</th><td>0</td><td></td><td></td><td></td><td></td><td></td></tr>
            </table>
        </div>
    </section>                    

    </article>
</main>
    {% endblock %}