<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/stylesheet_sp.css">
<main>
<article> 
    <section class="description">
        <h3>♪ ： 他のCDに入っていない曲</h3>
        <h3>★ ： 特典映像</h3>
    </section>
    <section class="CD_category">
        <h1>SINGLE</h1>  
    </section>

    <section id="single1">
        <div class="CD_title">
            <h1>1st:　シンデレラガール</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 シンデレラガール<br>
                    　 Funk it up<br>
                    ♪ YOU, WANTED!<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 シンデレラガール<br>
                    　 Funk it up<br><br>
                    ★ シンデレラガール Music Video<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 シンデレラガール<br>
                    　 Funk it up<br><br>
                    ★ Making of シンデレラガール<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single2">
        <div class="CD_title">
            <h1>2nd:　Memorial</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Memorial<br>
                    　 High On Love!<br>
                    ♪ Glass Flower<br>
                    ♪ 愛のすべて<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Memorial<br>
                    　 High On Love!<br>
                    ♪ Lover's Delight<br><br>
                    ★ Memorial Music Video<br>
                    ★ Making of Memorial<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Memorial<br>
                    　 High On Love!<br>
                    ♪ BEATMAKER<br><br>
                    ★ 『King & Prince TV #1<br>
                        ~メモリアルケーキを作ろう! ~』<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single3">
        <div class="CD_title">
            <h1>3rd:　君を待ってる</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 君を待ってる<br>
                    　 風に乗れ<br>
                    ♪ グッとGood Life<br>
                    ♪ Wake me up<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 君を待ってる<br>
                    　 風に乗れ<br>
                    ♪ 宙(SORA)<br><br>
                    ★ 君を待ってる Music Video<br>
                    ★ Making of 君を待ってる<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 君を待ってる<br>
                    　 風に乗れ<br>
                    ♪ Spark and Spark<br><br>
                    ★ 『King & Prince TV#2<br>
                    　　〜ホントのとこどうなの?グランプリ〜』<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single4">
        <div class="CD_title">
            <h1>4th:　koi-wazurai</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 koi-wazurai<br>
                    ♪ 君は、綺麗だ。<br>
                    ♪ Oh My Girl<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 koi-wazurai<br>
                    ♪ STEAL YOUR NIGHT<br><br>
                    ★ 「koi-wazurai」Music Video<br>
                    ★ 「koi-wazurai」Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 koi-wazurai<br>
                    ♪ Smiling Forever<br><br>
                    ★ 「koi-wazurai」1Cut Dance Movie<br>
                    ★ King & Prince 即興劇『LOVEレターが書けない!』<br>
                </p>
            </div>
        </div>
    </section>
  
    <section id="single5">
        <div class="CD_title">
            <h1>5th:　Mazy Night</h1>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Mazy Night<br>
                    ♪ Full Time Lover<br>
                    ♪ ゴールデンアワー<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Mazy Night<br>
                    ♪ Love Paradox<br><br>
                    ★ ｢Mazy Night｣Music Video<br>
                    ★ ｢Mazy Night｣Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Mazy Night<br>
                    ♪ 今君に伝えたいこと<br><br>
                    ★ ｢Mazy Night｣Music Video 1カットダンス Ver.<br>
                    ★ ｢Mazy Night｣Music Video メンバーソロ Ver.<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single6">
        <div class="CD_title">
            <h1>6th:　I promise</h1>
        </div>   
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 I promise<br>
                    ♪ Winter Love Story<br>
                    ♪ Glad to see you<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 I promise<br>
                    ♪ Little Christmas<br><br>
                    ★ ｢I promise｣Music Video -Story Ver.-<br>
                    ★ ｢I promise｣Music Video Making -Story Ver.-<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 I promise<br>
                    ♪ Happy Holy Night<br><br>
                    ★ ｢I promise｣Music Video -Dance Ver.-<br>
                    ★ ｢I promise｣Music Video Making -Dance Ver.-<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single7">
        <div class="CD_title">
            <h1>7th:　Magic Touch / Beating Hearts</h1>
        </div>   
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Magic Touch<br>
                    　 Beating Hearts<br>
                    ♪ 雨音<br>
                    ♪ Seasons of Love<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Magic Touch<br>
                    　 Beating Hearts<br><br>
                    ★ ｢Magic Touch｣Music Video<br>
                    ★ ｢Magic Touch｣Music Video -Dance ver.-<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Beating Hearts<br>
                    　 Magic Touch<br><br>
                    ★ ｢Beating Hearts｣Music Video<br>
                    ★ ｢Beating Hearts｣Music Video MakDVD:<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single8">
        <div class="CD_title">
            <h1>8th:　恋降る月夜に君想ふ</h1>
        </div>   
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 恋降る月夜に君想ふ<br>
                    ♪ You are my hero<br>
                    ♪ Kiss ＆ Cry<br>
                    ♪ Easy Go<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 恋降る月夜に君想ふ<br>
                    ♪ 泣き笑い<br><br>
                    ★ ｢恋降る月夜に君想ふ｣Music Video<br>
                    ★ ｢恋降る月夜に君想ふ｣Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 恋降る月夜に君想ふ<br>
                    ♪ NANANA<br><br>
                    ★ ｢恋降る月夜に君想ふ｣-Re:Sense LIVE ver.<br>
                    ★ ｢You are my hero｣Special Movie<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single9">
        <div class="CD_title">
            <h1>9th:　Lovin' you / 踊るように人生を。</h1>
        </div>   
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Lovin' you<br>
                    　 踊るように人生を。<br>
                    ♪ BANGIN!!<br>
                    ♪ 54321<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Lovin' you<br>
                    　 踊るように人生を。<br>
                    ♪ My Sweeties<br><br>
                    ★ ｢Lovin' you｣Music Video<br>
                    ★ ｢Lovin' you｣Music Video ソロアン<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 踊るように人生を。<br>  
                    　 Lovin' you<br>
                    ♪ Endroll<br><br>
                    ★ ｢踊るように人生を。｣Music Video<br>
                    ★ ｢踊るように人生を。｣Music Video -Dance ver.-<br>
                    ★ ｢踊るように人生を。｣Behind the scene<br>
                </p>
            </div>
        </div>
    </section>

    </article>
</main>
    {% endblock %}