{% extends 'base.html' %}
{% block content %}

<title>Music list of King and Prince SINGLE</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZF7EK5T707');
</script>

<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/CSS/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/CSS/stylesheet_sp.css">

<main>
<article> 
    <section class="description">
        <h3>♪ ： 他のCDに入っていない曲</h3>
        <h3>★ ： 特典映像</h3>
        <br>
        <h3>Jump to:</h3>
        <div class="jumpto">
        <a href="#single1">[1st] シンデレラガール　</a>
        <a href="#single2">[2nd] Memorial　</a>
        <a href="#single3">[3rd] 君を待ってる　</a>
        <a href="#single4">[4th] koi-wazurai　</a>
        <a href="#single5">[5th] Mazy Night　</a>
        <a href="#single6">[6th] I promise　</a>
        <a href="#single7">[7th] Magic Touch/Beating Hearts　</a>
        <a href="#single8">[8th] 恋降る月夜に君想ふ　</a>
        <a href="#single9">[9th] Lovin' you/踊るように人生を。　</a>
        <a href="#single10">[10th] TarceTrace　</a>
        <a href="#single11">[11th] ツキヨミ/彩り　</a>
        </div>     
    </section>

    <section class="CD_category">
        <h1>SINGLE</h1>  
    </section>

    <section id="single1">
        <br>
        <div class="CD_title">
            <h1>1st:シンデレラガール<br></h1>
            <p>2018.05.23 Release</p>
        </div>

        <div class="music_option">
        <p>◇ シンデレラガール ◇TBS系 火曜ドラマ「花のち晴れ～花男 Next Season～」主題歌(2018/4/17～6/26)紫</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 シンデレラガール ◇<br>
                    　 Funk it up<br>
                    ♪ YOU, WANTED!<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 シンデレラガール ◇<br>
                    　 Funk it up<br><br>
                    ★ シンデレラガール Music Video<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 シンデレラガール ◇<br>
                    　 Funk it up<br><br>
                    ★ Making of シンデレラガール<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single2">
        <br>
        <div class="CD_title">
            <h1>2nd:　Memorial<br></h1>
            <p>2018.10.10 Release<br></p>
        </div>

        <div class="music_option">
            <p>◇ Memorial：日本テレビ 深夜ドラマ「部活、好きじゃなきゃダメですか？」主題歌(2018/10/23～12/25)海・神・岩 </p>
            <p>◇ High On Love!：映画「ういらぶ。」主題歌(2018/11/9公開)紫</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Memorial ◇<br>
                    　 High On Love! ◇<br>
                    ♪ Glass Flower<br>
                    ♪ 愛のすべて<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Memorial ◇<br>
                    　 High On Love! ◇<br>
                    ♪ Lover's Delight<br><br>
                    ★ Memorial Music Video<br>
                    ★ Making of Memorial<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Memorial ◇<br>
                    　 High On Love! ◇<br>
                    ♪ BEATMAKER<br><br>
                    ★ 『King & Prince TV #1<br>
                        ~メモリアルケーキを作ろう! ~』<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single3">
        <br>
        <div class="CD_title">
            <h1>3rd:　君を待ってる<br></h1>
            <p>2019.04.03 Release<br></p>
        </div>

        <div class="music_option">
            <p>◇ 君を待ってる：UHA味覚糖「ぷっちょ」CMソング／Yahoo!きせかえCMソング</p>
            <p>◇ 風に乗れ：進研ゼミCMソング</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 君を待ってる ◇<br>
                    　 風に乗れ ◇<br>
                    ♪ グッとGood Life<br>
                    ♪ Wake me up<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 君を待ってる ◇<br>
                    　 風に乗れ ◇<br>
                    ♪ 宙(SORA)<br><br>
                    ★ 君を待ってる Music Video<br>
                    ★ Making of 君を待ってる<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 君を待ってる ◇<br>
                    　 風に乗れ ◇<br>
                    ♪ Spark and Spark<br><br>
                    ★ 『King & Prince TV#2<br>
                    　　〜ホントのとこどうなの?グランプリ〜』<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single4">
        <br>
        <div class="CD_title">
            <h1>4th:　koi-wazurai<br></h1>
            <p>2019.08.28 Release<br></p>
        </div>

        <div class="music_option">
            <p>◇ koi-wazurai：映画『かぐや様は告らせたい ～天才たちの恋愛頭脳戦～』主題歌(2019/9/6公開)紫</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 koi-wazurai ◇<br>
                    ♪ 君は、綺麗だ。<br>
                    ♪ Oh My Girl<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 koi-wazurai ◇<br>
                    ♪ STEAL YOUR NIGHT<br><br>
                    ★ 「koi-wazurai」Music Video<br>
                    ★ 「koi-wazurai」Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 koi-wazurai ◇<br>
                    ♪ Smiling Forever<br><br>
                    ★ 「koi-wazurai」1Cut Dance Movie<br>
                    ★ King & Prince 即興劇『LOVEレターが書けない!』<br>
                </p>
            </div>
        </div>
    </section>
  
    <section id="single5">
        <br>
        <div class="CD_title">
            <h1>5th:　Mazy Night<br></h1>
            <p>2020.06.10 Release<br></p>
        </div>

        <div class="music_option">
            <p>◇ Mazy Night：日本テレビ土曜ドラマ「未満警察 ミッドナイトランナー」主題歌(2020/6/27～9/5)紫</p>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Mazy Night ◇<br>
                    ♪ Full Time Lover<br>
                    ♪ ゴールデンアワー<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Mazy Night ◇<br>
                    ♪ Love Paradox<br><br>
                    ★ ｢Mazy Night｣Music Video<br>
                    ★ ｢Mazy Night｣Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Mazy Night ◇<br>
                    ♪ 今君に伝えたいこと<br><br>
                    ★ ｢Mazy Night｣Music Video 1カットダンス Ver.<br>
                    ★ ｢Mazy Night｣Music Video メンバーソロ Ver.<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single6">
        <br>
        <div class="CD_title">
            <h1>6th:　I promise<br></h1>
            <p>2020.12.16 Release<br></p>
        </div>   

        <div class="music_option">
            <p>◇ I promise：セブン－イレブン 2020年クリスマスCMソング</p>
            <p>◇ Winter Love Story：セブン－イレブン 2019年クリスマスCMソング</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 I promise ◇<br>
                    ♪ Winter Love Story ◇<br>
                    ♪ Glad to see you<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 I promise ◇<br>
                    ♪ Little Christmas<br><br>
                    ★ ｢I promise｣Music Video -Story Ver.-<br>
                    ★ ｢I promise｣Music Video Making -Story Ver.-<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 I promise ◇<br>
                    ♪ Happy Holy Night<br><br>
                    ★ ｢I promise｣Music Video -Dance Ver.-<br>
                    ★ ｢I promise｣Music Video Making -Dance Ver.-<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single7">
        <br>
        <div class="CD_title">
            <h1>7th:　Magic Touch / Beating Hearts<br></h1>
            <p>2021.05.19 Release<br></p>
        </div>   

        <div class="music_option">
            <p>◇ Beating Hearts：UHA味覚糖「ぷっちょ」CMソング</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Magic Touch<br>
                    　 Beating Hearts ◇<br>
                    ♪ 雨音<br>
                    ♪ Seasons of Love<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Magic Touch<br>
                    　 Beating Hearts ◇<br><br>
                    ★ ｢Magic Touch｣Music Video<br>
                    ★ ｢Magic Touch｣Music Video -Dance ver.-<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 Beating Hearts ◇<br>
                    　 Magic Touch<br><br>
                    ★ ｢Beating Hearts｣Music Video<br>
                    ★ ｢Beating Hearts｣Music Video MakDVD:<br>
                </p>
            </div>
        </div>
    </section>

            <br>
    <section id="single8">
        <br>
        <div class="CD_title">
            <h1>8th:　恋降る月夜に君想ふ<br></h1>
            <p>2021.10.06 Release<br></p>
        </div>   
        <div class="music_option">
            <p>◇ 恋降る月夜に君想ふ：映画「かぐや様は告らせたい～天才たちの恋愛頭脳戦～ファイナル」主題歌(2021/8/20公開)紫</p>
            <p>◇ You are my hero：セブン-イレブン2021年クリスマスCMソング</p>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 恋降る月夜に君想ふ ◇<br>
                    ♪ You are my hero ◇<br>
                    ♪ Kiss ＆ Cry<br>
                    ♪ Easy Go<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 恋降る月夜に君想ふ ◇<br>
                    ♪ 泣き笑い<br><br>
                    ★ ｢恋降る月夜に君想ふ｣Music Video<br>
                    ★ ｢恋降る月夜に君想ふ｣Music Video Making<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 恋降る月夜に君想ふ ◇<br>
                    ♪ NANANA<br><br>
                    ★ ｢恋降る月夜に君想ふ｣-Re:Sense LIVE ver.<br>
                    ★ ｢You are my hero｣Special Movie<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single9">
        <br>
        <div class="CD_title">
            <h1>9th:　Lovin' you / 踊るように人生を。<br></h1>
            <p>2022.04.13 Release<br></p>
        </div>   
        <div class="music_option">
            <p>◇ Lovin' you：コーセーコスメポート『ジュレームiP』 CMソング 紫</p>
            <p>◇ 踊るように人生を。：日本テレビ シンドラ「受付のジョー」主題歌(2022/4/26～6/28)神</p>
        </div>
        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 Lovin' you ◇<br>
                    　 踊るように人生を。 ◇<br>
                    ♪ BANGIN!!<br>
                    ♪ 54321<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 Lovin' you ◇<br>
                    　 踊るように人生を。 ◇<br>
                    ♪ My Sweeties<br><br>
                    ★ ｢Lovin' you｣Music Video<br>
                    ★ ｢Lovin' you｣Music Video ソロアン<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 踊るように人生を。 ◇<br>  
                    　 Lovin' you ◇<br>
                    ♪ Endroll<br><br>
                    ★ ｢踊るように人生を。｣Music Video<br>
                    ★ ｢踊るように人生を。｣Music Video -Dance ver.-<br>
                    ★ ｢踊るように人生を。｣Behind the scene<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single10">
        <br>
        <div class="CD_title">
            <h1>10th:　TarceTrace<br></h1>
            <p>2022.09.14 Release<br></p>
        </div>   

        <div class="music_option">
            <p>◇ TarceTrace：日本テレビ系7月期日曜ドラマ「新・信長公記～クラスメイトは戦国武将～」主題歌(2022/7/24～9/25)廉</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 TarceTrace ◇<br>
                    ♪ Super Positve!!<br>
                    ♪ 秋空<br>
                    ♪ Nothing compares<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 TarceTrace ◇<br>
                    ♪ エスコート<br><br>
                    ★ DVD:･｢TraceTrace｣ Music Video<br>
                    ★ DVD:･｢TraceTrace｣ Music Video -Dance ver.-<br>
                    ★ DVD:･｢TraceTrace｣ Behind the scene<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 TarceTrace ◇<br>  
                    ♪ My Treasures<br><br>
                    ★ DVD:･｢TraceTrace｣ Music Video -Lip Sync ver.- <br>
                    ★ DVD:･｢Trace レース GP｣<br>
                </p>
            </div>
        </div>
    </section>

    <section id="single11">
        <br>
        <div class="CD_title">
            <h1>11th:　ツキヨミ/彩り<br></h1>
            <p>2022.11.09 Release<br></p>
        </div>   

        <div class="music_option">
            <p>◇ ツキヨミ：TBS系 金曜ドラマ「クロサギ」主題歌(2022/10/21～)紫</p>
            <p>◇ 彩り：テレビ朝日系 オシドラサタデー「ボーイフレンド降臨！」主題歌(2022/10/15～)海</p>
            <p>◇ 君とメリークリスマス：セブン-イレブン2022年クリスマスCMソング</p>
        </div>

        <div class="box flex_area">
            <div class="lenge">
                <h2>　通常盤</h2>
                <p>
                    　 ツキヨミ ◇<br>
                    　 彩り ◇<br>
                    ♪ 君とメリークリスマス ◇<br>
                    ♪ Misbehave<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤A</h2>
                <p>
                    　 ツキヨミ ◇<br>
                    　 彩り ◇<br>
                    ♪ 明日は明日の風が吹く<br><br>
                    ★ DVD:･｢ツキヨミ｣ Music Video<br>
                    ★ DVD:･｢ツキヨミ｣ Music Video ソロアングルEdit<br>
                    ★ DVD:･｢ツキヨミ｣ Behind the scenes<br>
                </p>
            </div>
            <div class="lenge">
                <h2>　初版限定盤B</h2>
                <p>
                    　 彩り ◇<br>
                    　 ツキヨミ ◇<br>
                    ♪ オモカゲ<br><br>
                    ★ DVD:･｢彩り｣ Music Video<br>
                    ★ DVD:･｢彩り｣ KP Cam Video<br>
                    ★ DVD:･｢彩り｣ Behind the scenes<br>
                </p>
            </div>
        </div>
    </section>

    </article>
</main>
    {% endblock %}