{% extends 'base.html' %}
{% block content %}

<title>Music list of King and Prince LYLICS</title>
    
<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/CSS/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/CSS/stylesheet_sp.css">
<main>

    <body>
        <section class="formstyle">
                
                <form action="/serch_lylics" method="POST">
                    <b>歌詞を入力：</b>
                    <input type="text" name="inputed_lylics" class="inputBox">
                    <input type="hidden" name="tpl" value="include/result_rylics.html" />
                    <input class="btn inputBtn" type="submit" value="検索" name="save">
                    <div class="formId formTitle">※歌詞カード通り、スペース記号無、ひらがな検索が可能です</div>
                    <div class="formId formTitle">※(( 二重括弧内は歌詞カードに入ってないものになります ))　</div>
                </form>
        </section> 
        
    </body>
</main>
    {% endblock %}