{% extends 'base.html' %}
{% block content %}

<title>Music list of King and Prince LYLICS</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZF7EK5T707');
</script>
-->

<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/CSS/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/CSS/stylesheet_sp.css">
<main>

    <body>
        <p>result</p>
        <p>{{html_name}}</p>
        <p>{{html_serch_ER}}</p>

    </body>

</main>
    {% endblock %}