{% extends 'base.html' %}
{% block content %}

<title>Music list of King and Prince LYLICS SEARCH</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->

<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZF7EK5T707');
</script>
 -->

<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/CSS/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/CSS/stylesheet_sp.css">
<main>

    <body>
        <section class="formstyle">
            <form action="/serch_lylics" method="POST">
                <div class="formId formTitle">ひらがなで歌詞を入力
                <input type="text" name="lylicsserch" class="inputBox">
                <input class="btn inputBtn" type="submit" value="検索" name="save"></div>
                <div class="formId formTitle">※</div>
            </form>
        </section>        

    </body>

</main>
    {% endblock %}